* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}
:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --white: #ffffff;
  --black: #000;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  background-color: var(--light-gray);
}
.container {
  width: 100%;
  max-width: 375px;
  height: auto;
  margin: auto;
  border-radius: 1rem;
  overflow: hidden;
}
.container .component {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* padding: 25px 20px 0; */
}
.row {
  width: 100%;
  height: auto;
  background-color: var(--white);
  padding: 2.6rem;
}
.row .strong {
  margin-bottom: 2rem;
}
.row:last-child {
  background-color: var(--cyan);
}
.row p:first-child {
  color: var(--cyan);
  font-weight: 700;
  font-size: 2rem;
}
.row p:nth-child(2) {
  color: var(--bright-yellow);
  font-weight: 700;
}
.row p {
  color: var(--grayish-blue);
  font-weight: 400;
  line-height: 26px;
  /* margin: 2.5rem 0; */
}
.component .row:last-child {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.component .row:last-child .white-title {
  color: var(--light-gray);
}
.component .row div {
  padding: 2.6rem;
}
.component .row div .price-box {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 1.5rem;
  padding: 0;
}
.component .row div .price-box p:nth-child(1) {
  color: var(--light-gray);
  font-size: 3rem;
}
.component .row div .price-box p:nth-child(2) {
  color: var(--grayish-blue);
  font-weight: 700;
  margin-left: 1.5rem;
}
.component .row div p {
  color: var(--light-gray);
}
.component .row div button {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: var(--light-gray);
  background-color: var(--bright-yellow);
  border-radius: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 0.7rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.component .row div:last-child {
  width: 100%;
  height: 260px;
  background-color: var(--cyan);
  position: relative;
}
.component .row div:last-child .opacity {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background-color: hsla(0, 0%, 100%, 0.158);
  /* height: 100%; */
}
.component .row div:last-child .opacity p {
  text-align: start;
  margin-bottom: 2rem;
}
.component .row div:last-child .opacity p:nth-child(2) {
  width: 210px;
  font-size: 1.6rem;
  font-weight: 200;
  color: var(--light-gray);
}
footer {
  width: 100%;
  height: 50px;
  text-align: center;
  /* background-color: var(--grayish-blue); */
  margin-top: 25px;
  padding: 10px;
  color: var(--grayish-blue);
}
footer p a {
  color: var(--grayish-blue);
  text-decoration: none;
}
footer p a:nth-child(2) {
  color: var(--bright-yellow);
  font-weight: 700;
}

@media (min-width: 640px) {
  body {
    height: 100vh;
    position: relative;
  }
  body .container {
    max-width: 640px;
  }
  .component .row:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .component .row {
    padding: 3rem;
  }
  .component .row div {
    padding: 3rem;
  }
  .row .strong:nth-child(2) {
    margin-bottom: 1rem;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
